h1 {
	color: #446869;
	text-transform: uppercase;
	font-family: Trebuchet;
	font-weight: bold;
	font-style: italic;
	font-size: 5em;
	text-align: center;
}

h2 {
	text-align: center;
	color: black;
	text-transform: normal;
	font-family: Trebuchet;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
}

body {
	width: 60%;
	font-size: 1em;
	color: gray;
	font-family: Trebuchet;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 17%;
	margin-right: 17%;
	font-weight: normal;
	background-image: url("background_pointy.jpg");
	background-size: cover;
	background-attachment: fixed;
}
