
h1 {
	color: #446869;
	text-transform: uppercase;
	font-family: Trebuchet;
	font-weight: bold;
	font-style: normal;
	font-size: 2em;
	text-align: center;
}

/* don't use red! */


img {
	width: 50%;
	margin: 25%;
	margin-top: 10%;
	margin-bottom: 10%;
	outline-color: black;
	outline-width: 3px;
	-webkit-box-shadow: -1px 3px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 3px 24px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 3px 24px 0px rgba(0,0,0,0.75);
}

body {
	width: 50%;
	font-size: 1em;
	color: gray;
	font-family: Trebuchet;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	margin-right: 25%;
	font-weight: normal;
	background-attachment: fixed;
}

.centered_text {
	text-align: center;
	background-color: white;
	-webkit-box-shadow: -1px 3px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 3px 24px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 3px 24px 0px rgba(0,0,0,0.75);
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 10px;
}

.background_img {
	z-index: -100;
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	background-size: cover;
	left: 0;
	top: 0;
	background-image: url("background_pointy.jpg");
}
