
h1 {
	color: #446869;
	text-transform: uppercase;
	font-family: Trebuchet;
	font-weight: bold;
	font-style: normal;
	font-size: 2em;
	text-align: center;
}

/* don't use red! */


img {
	width: 50%;
	margin: 25%;
	margin-top: 10%;
	margin-bottom: 10%;
}

body {
	width: 50%;
	font-size: 1em;
	color: gray;
	font-family: Trebuchet;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	margin-right: 25%;
	font-weight: normal;
	background-image: url("paper_background.jpg");
	background-size: 100%;
	background-attachment: fixed;
}
