

h1 {
	color: #446869;
	text-transform: uppercase;
	font-family: Trebuchet;
	font-weight: bold;
	font-style: normal;
	font-size: 2em;
	text-align: center;
}

/* don't use red! */
/*background: liner-gradient(45deg, #9ea1aa, #f6ce30);*/

h2 {
	color: #446869;
	text-transform: lowercase;
	font-family: Trebuchet;
	font-weight: bold;
	font-style: normal;
	font-size: 0.8em;
	text-align: center;
}

h3 {	/* for resume section headings */
	color: black;
	text-transform: uppercase;
	font-family: Trebuchet;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
}

h4 {	/* for dates and location */
	color: #446869;
	font-family: Trebuchet;
	font-weight: bold;
	font-size: 1em
}

h5 {
	font-style: italic;
}

body {
	width: 80%;
	font-size: 1em;
	color: #446869;
	font-family: Trebuchet;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 17%;
	/*text-indent: 2cm;*/
	/*text-align: center;*/
	font-weight: normal;
	background-image: url("background_pointy.jpg");
	background-size: cover;
	background-attachment: fixed;
}


